.App {
  text-align: center;
  width: 90vw;
  margin: 0 auto;
}

form {
  position: relative;
  width: 90%;
}

input {
  border-radius: 10px;
  width: 100%;
  padding: 1rem 0.5rem;
  border: none;
  
}

button {
  background-color: hsl(0, 0%, 17%);
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;

}

.output {
  display: flex;
  flex-direction: column;

  background-color: #fff;
  color: hsl(0, 0%, 59%);
  margin: 2rem 0;
  border-radius: 10px;
}


@media screen and (min-width: 900px) {
  .output {
    flex-direction: row;
  }
}


